{% extends "template.html" %} {% block body %}
<div class="section">
  <div class="container">
    <div class="row" style="text-align:left !important;">
      <h1>Bibliographie</h1>
      <h1>
    1. Introduction</h1>
      <h2>
    a. Entrée en matière</h2>
      <p>
        Mallice. "Le Premier ADN Synthétique a été Crée !" AxiomCafe, 25 May 2010. Web.
        <a href="http://axiomcafe.fr/le-premier-adn-synthetique-a-ete-creehttp:/axiomcafe.fr/le-premier-adn-synthetique-a-ete-cree">
        http://axiomcafe.fr/le-premier-adn-synthetique-a-ete-creehttp://axiomcafe.fr/le-premier-adn-synthetique-a-ete-cree</a>
      </p>
      <h2>
    b. Problématique
</h2>
      <p>
        Goldman, Nick. "Where to Store Big Data? In DNA."<em> YouTube</em>. YouTube, 21 June 2013. Web. <a href="https://www.youtube.com/watch?v=a4PiGWNsIEU">https://www.youtube.com/watch?v=a4PiGWNsIEU</a>
      </p>
      <h1>
    3. Les différents types de stockage de l'information
</h1>
      <h2>
    a. Modes de stockage actuel : CD, Clé USB, Disque dur.
</h2>
      <p>
        "Les Différents Supports De Stockage." <em>AC Rennes</em> 1. Web.
        <a href="http://pharouest.ac-rennes.fr/e350039C/autres%20formats/supports_ecriture.pdf">
        http://pharouest.ac-rennes.fr/e350039C/autres%20formats/supports_ecriture.pdf
    </a>
      </p>
      <p>
        "Quelle Quantité De Données Une Clé USB Peut-elle Contenir ?" <em>Flashbay</em>, 2014. Web. <a href="http://www.flashbay.fr/aide/faq/capacite-de-stockage-cle-usb">http://www.flashbay.fr/aide/faq/capacite-de-stockage-cle-usb</a>
      </p>
      <p>
        Gruhier, Camille. "Disques Durs Externes." <em>Que Choisir</em>, 2013. Web.
        <a href="http://www.quechoisir.org/telecom-multimedia/informatique/guide-d-achat-disques-durs-externes-toujours-plus-de-capacite-toujours-plus-de-debit">
        http://www.quechoisir.org/telecom-multimedia/informatique/guide-d-achat-disques-durs-externes-toujours-plus-de-capacite-toujours-plus-de-debit
    </a>
      </p>
      <p>
        McFadden, Andy. "Tout Sur La Gravure De CD." <em>Tout Sur La Gravure De CD</em>, 1 Dec. 1998. Web. <a href="http://www.lagravuredecd.com/">http://www.lagravuredecd.com/</a>
      </p>
      <h2>
    b. L'intérêt de la molécule d'ADN
</h2>
      <p>
        Mallice. "Le Premier ADN Synthétique a été Crée !" <em>AxiomCafe</em>, 25 May 2010. Web.
        <a href="http://axiomcafe.fr/le-premier-adn-synthetique-a-ete-creehttp:/axiomcafe.fr/le-premier-adn-synthetique-a-ete-cree">
        http://axiomcafe.fr/le-premier-adn-synthetique-a-ete-creehttp://axiomcafe.fr/le-premier-adn-synthetique-a-ete-cree
    </a>
      </p>
      <p>
        Pettet, Roger. "Oxford Nanopore." <em>Metrichor</em>, 2015. Web. <a href="https://metrichor.com/s/">https://metrichor.com/s/</a>
      </p>
      <p>
        Dupuy, Catherine, Georges Periquet, Annie Bézier, and Jean-Michel Drezen. "L'ADN Conservé Pendant Des Millions D'années Conserver L'ADN à Température Ambiante N'est plus Une Utopie." <em>Med Sci</em> (Paris) Médecine/sciences 26.2 (2010): 125-27.
        L'ADN Conservé Pendant Des Millions D'années Conserver L'ADN à Température Ambiante N'est plus Une Utopie. 2010. Web. <a href="http://www.genopole.fr/IMG/pdf/20090512_imagene.pdf">http://www.genopole.fr/IMG/pdf/20090512_imagene.pdf</a>
      </p>
      <h1>
    4. Les mathématiques au service de la biologie moléculaire
</h1>
      <p>
        Elert, Glenn. "Length of a Human DNA Molecule." <em>Hypertextbook</em>, 2006. Web. 2016. <a href="http://hypertextbook.com/facts/1998/StevenChen.shtml">http://hypertextbook.com/facts/1998/StevenChen.shtml</a>
      </p>
      <p>
        Dupuy, Catherine, Georges Periquet, Annie Bézier, and Jean-Michel Drezen. "L'ADN Conservé Pendant Des Millions D'années Conserver L'ADN à Température Ambiante N'est plus Une Utopie." Med Sci (Paris) Médecine/sciences 26.2 (2010): 125-27. L'ADN Conservé
        Pendant Des Millions D'années Conserver L'ADN à Température Ambiante N'est plus Une Utopie. 2010. Web. <a href="http://www.genopole.fr/IMG/pdf/20090512_imagene.pdf">http://www.genopole.fr/IMG/pdf/20090512_imagene.pdf</a>
      </p>
      <h2>
    b. Le langage Binaire
</h2>
      <p>
        Auteur Inconnu. "Le Binaire." <em>Comment ça marche</em>, Web. 2016. <a href="http://commentcamarche.chez.com/info/base/binaire.htm">http://commentcamarche.chez.com/info/base/binaire.htm</a>.
      </p>
      <h1>
    5. De l'information à l'ADN
</h1>
      <h2>
    a. De l'information en binaire avec l'ajout d'un code correcteur
</h2>
      <p>
        Mallice. "Le Premier ADN Synthétique a été Crée !" <em>AxiomCafe</em>, 25 May 2010. Web.
        <a href="http://axiomcafe.fr/le-premier-adn-synthetique-a-ete-creehttp:/axiomcafe.fr/le-premier-adn-synthetique-a-ete-cree">
        http://axiomcafe.fr/le-premier-adn-synthetique-a-ete-creehttp://axiomcafe.fr/le-premier-adn-synthetique-a-ete-cree
    </a> .
      </p>
      <h1>
    6. De l'ADN à l'information
</h1>
      <h2>
    a. De l'ADN au binaire avec l'ajout du code correcteur
</h2>
      <p>
        Morelos-Zaragoza, Robert. "The Error Correcting Codes." <em>The Error Correcting Codes (ECC)</em>, 6 Aug. 2008. Web. 2016. <a href="http://www.eccpage.com/">http://www.eccpage.com/</a>
      </p>
      <p>
        Channel Name : Art of the Problem. "Error Correction Codes." <em>YouTube</em>. 7 Jan. 2014. Web. <a href="https://www.youtube.com/watch?v=cBBTWcHkVVY">https://www.youtube.com/watch?v=cBBTWcHkVVY</a>
      </p>
      <p>
        Duncan, Brendon. "Hamming Error Correcting Code Example." <em>YouTube</em>. 14 Nov. 2013. Web. <a href="https://www.youtube.com/watch?v=gZVpyyQTM14">https://www.youtube.com/watch?v=gZVpyyQTM14</a>
      </p>
      <p>
        Channel Name : Computerphile. "Error Correction." <em>YouTube</em>. 10 Sept. 2013. Web. <a href="https://www.youtube.com/watch?v=5sskbSvha9M">https://www.youtube.com/watch?v=5sskbSvha9M</a>
      </p>
      <p>
        Laurence, Martin. "Oxford Nanopore Technologies." <em>YouTube</em>. 9 Apr. 2014. Web. <a href="https://www.youtube.com/watch?v=3UHw22hBpAk">https://www.youtube.com/watch?v=3UHw22hBpAk</a>
      </p>
      <h2>
    b. Du binaire à l'information
</h2>
      <p>
        Auteur inconnu. "DNA: Nanopore Sequencing" <em>Nanopore Technologies</em>, Web. 2015. <a href="https://www.nanoporetech.com/applications/dna-nanopore-sequencing">https://www.nanoporetech.com/applications/dna-nanopore-sequencing</a>
      </p>
      <h1>
    7. Presse qui nous a aidé.
</h1>
      <p>
        Medeiros, Joao. "Your Genes Can Now Be Sequenced Using Your USB Port." <em>Wired UK</em>. N.p., 02 Apr. 2015. Web.
        <a href="http://www.wired.co.uk/magazine/archive/2015/04/features/usb-gene-sequence/viewall">
        http://www.wired.co.uk/magazine/archive/2015/04/features/usb-gene-sequence/viewall
    </a>
      </p>
      <p>
        Maxmen, Amy. "Easy DNA Editing Will Remake the World." <em>Wired</em>. Conde Nast Digital, Aug. 2015. Web. <a href="http://www.wired.com/2015/07/crispr-dna-editing-2/">http://www.wired.com/2015/07/crispr-dna-editing-2/</a>
      </p>
      <h1>
    Images et vidéos :
</h1>
      <p>
        Photographie de Jean François Lutz : <a href="http://loop.frontiersin.org/people/232426/overview">http://loop.frontiersin.org/people/232426/overview</a>
      </p>
      <p>
        Photographie de la clé USB :
        <a href="http://www.referencementgoogle.eu/2014/08/09/cle-usb-infecter-ordinateur/">
        http://www.referencementgoogle.eu/2014/08/09/cle-usb-infecter-ordinateur/
    </a>
      </p>
      <p>
        Photographie du CD-ROM : <a href="http://www.andee.fr/index.php/blog/45-sauvegardez-vos-donnees-partie-1">http://www.andee.fr/index.php/blog/45-sauvegardez-vos-donnees-partie-1</a>
      </p>
      <p>
        Photographie du Disque Dur:
        <a href="http://www.clubic.com/disque-dur-memoire/disque-dur/actualite-746651-seagate-promet-disque-dur-10-to-2015.html">
        http://www.clubic.com/disque-dur-memoire/disque-dur/actualite-746651-seagate-promet-disque-dur-10-to-2015.html
    </a>
      </p>
      <p>
        Schéma des dimensions de la molécule d'ADN : <a href="https://openclassrooms.com/forum/sujet/molecule-d-adn-53562">https://openclassrooms.com/forum/sujet/molecule-d-adn-53562</a>
      </p>
      <p>
        Schéma de la structure d'une molécule d'ADN :
        <a href="http://tchernobylfrance.e-monsite.com/pages/relation-entre-radiations-et-cancer/l-action-de-la-radioactivite-sur-l-organisme/structure-de-la-molecule-d-adn.html">
        http://tchernobylfrance.e-monsite.com/pages/relation-entre-radiations-et-cancer/l-action-de-la-radioactivite-sur-l-organisme/structure-de-la-molecule-d-adn.html
    </a>
      </p>
      <p>
        Tableau de la norme ASCII:
        <a href="http://www.theasciicode.com.ar/extended-ascii-code/letter-e-acute-accent-e-acute-lowercase-ascii-code-130.html">
        http://www.theasciicode.com.ar/extended-ascii-code/letter-e-acute-accent-e-acute-lowercase-ascii-code-130.html
    </a>
      </p>
      <p>
        Molécule d'ADN dans un tube à essai :
        <a href="http://fr.dreamstime.com/photographie-stock-molécule-d-adn-dans-le-tube-à-essai-image16663972">
        http://fr.dreamstime.com/photographie-stock-molécule-d-adn-dans-le-tube-à-essai-image16663972
    </a>
      </p>
      <p>
        Photographie du Datacenter d'IBM à Toronto : <a href="http://ibm-1401.info/IBM1401_ArchivePics.html">http://ibm-1401.info/IBM1401_ArchivePics.html</a>
      </p>
      <p>
        Photographie du centre de stockage en Tchécoslovaquie : <a href="http://i.imgur.com/MrKPJ5y.jpg">http://i.imgur.com/MrKPJ5y.jpg</a>
      </p>
    </div>
          <h1 class="text-center">Notre Groupe</h1>
      <div class="row">
        <div class="col-md-4">
          <img src="{{ url_for('static', filename='img/raph.jpg') }}" class="center-block img-circle img-responsive">
          <h3 class="text-center">Raphael Delouya&nbsp;</h3>
          <p style="text-align: center !important;">Designer/Chercheur</p>
        </div>
        <div class="col-md-4">
          <img src="{{ url_for('static', filename='img/oscar.jpg') }}" class="center-block img-circle img-responsive" style="width:360px">
          <h3 class="text-center">Oscar baracos</h3>
          <p style="text-align: center !important;">Programmeur/Chercheur</p>
        </div>
        <div class="col-md-4">
          <img src="{{ url_for('static', filename='img/david.jpg') }}" class="center-block img-circle img-responsive">
          <h3 class="text-center">David Teboul</h3>
          <p style="text-align: center !important;">Chercheur</p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
