{% extends "template.html" %} {% block body %}
<div class="section">
	<div class="container">
		<div class="row">
			<h1>Conclusion</h1>
			<p>
				Nous pouvons donc stocker de l’information dans l’ADN et vice versa, grâce a une nouvelle technologie ainsi qu’une nouvelle approche. A travers plusieurs étapes que nous avons détaillé et expliqué nous pouvons à présent révolutionner la manière de stocker
				l’information.
			</p>
			<p>
				Malgré les nombreux points positifs, il ne faut pas s'attendre à ce que cette nouvelle technologie remplace les actuels supports de stockage dès demain. Premièrement, le coût de la synthèse et du séquençage est bien trop élevé pour un utilisateur normal.
				Par exemple, l'équipe de Cambridge estime que le stockage d’un Megaoctet de données dans la molécule d’ADN coûterait 10 000 euros, même s’il estime que ce prix baissera au cours des années. Deuxièmement, le séquençage prend trop de temps alors que
				le contenu d'un disque dur est lu instantanément. De plus, les informations ne peuvent pas être modifiées. Cette technique pourrait donc être réservée à l'archivage de documents, mais en gardant un avantage conséquent : si l'inscription des données
				dans l'ADN est coûteuse, leur conservation nécessite ensuite pratiquement plus aucune dépense et énergie. Ce qui est aux antipodes des actuels moyens de stockages de masse extrêmement consumant en énergie et très polluant…</p>
			<p>
				Il ne faudrait cependant pas oublier que la clé USB a pris 30 ans pour atteindre sa forme et sa capacité actuelle. De surcroît, les disques durs qui ne faisaient même pas un millième de la capacité des disques durs d'aujourd'hui prenaient la même taille qu'un d'un réfrigérateur!
				Or, le développement de notre support n'en est qu'à ses débuts. Il faudrait donc laisser un peu de temps afin que ce support se développe plus.
			</p>
		</div>
		<br />
		<div class="row">
			<h3>Par ailleurs, rappellons-nous du traditionnel stockage de documents, comme cette salle de stockage de l'Institution Sociale Centrale en Tchécoslovaquie en 1937</h3>
			<img src="static/img/room.jpg" class="img-responsive center-block" style="width:70%" />
		</div>
		<br />
		<div class="row">
			<h3>Ou, il y a moins longtemps, le "Data Centre" (centre de données) d'IBM à Toronto en 1963, où chaque bande de stockage (au rez-de-chaussée, au fond) avait une capacité de 3Mo (à peu près 21000 fois plus qu'un téléphone de 64 Go)</h3>
			<img src="static/img/ibm.jpg" class="img-responsive center-block" style="width:70%" />
		</div>
		<br />
		<div class="row">
			<h3>Au final, la molécule d'ADN nous réserverait-elle plus de surprises qu'on ne pourrait le penser?</h3>
			<img src="static/img/dna-test.jpg" class="img-responsive center-block" style="width:70%" />
		</div>
	</div>
</div>
</div>
{% endblock %}
