{% extends "template.html" %} {% block body %}
<div class="cover-image" style="background-image: url('static/img/data-center.jpg');"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<img src="{{ url_for('static', filename='img/adn.png') }}">
			<!--<p class="text-inverse">Une production par</p>-->
			<br>
			<br>
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
				Sommaire
			</button>
			<br>
			<br>
			<ul class="list-group">
				<p style="text-shadow: black 0.1em 0.1em 0.2em; text-align:center!important;">
					Une production de TPE par Oscar Baracos, Raphael Delouya et David Teboul
				</p>
			</ul>
		</div>
	</div>
</div>
</div>
{% endblock %}
