{% extends "template.html" %} {% block body %}
<div class="cover-image" style="background-image: url('static/img/data-center.jpg');"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 style="font-size:50px;text-shadow: black 0.1em 0.1em 0.2em;">L'ADN : un support de stockage</h1>
			<br>
			<br>
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
				Sommaire
			</button>
			<br>
			<br>
			<ul class="list-group">
				<p style="text-shadow: black 0.1em 0.1em 0.2em; text-align:center!important;">
					Une production de TPE par Oscar Baracos, Raphael Delouya et David Teboul
				</p>
			</ul>
		</div>
	</div>
</div>
</div>
{% endblock %}
