<!-- Sommaire -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sommaire</h4>
      </div>
      <div class="modal-body" style="text-align:left;">
        <div class="list-group">
          <a href="introduction.html" class="list-group-item active">1. Introduction</a>
          <a href="introduction.html#entree" class="list-group-item">a. Entrée en matière</a>
          <a href="introduction.html#prob" class="list-group-item">b. Problématique</a>
          <a href="introduction.html#gene" class="list-group-item">c. Généralisation du TPE</a>
        </div>
        <div class="list-group">
          <a href="entretien.html" class="list-group-item active">2. Entretien de Jean-François Lutz</a>
          <a href="entretien.html#infos" class="list-group-item">a. Informations sur Jean-François Lutz</a>
          <a href="entretien.html#entretien" class="list-group-item">b. L'entretien</a>
          <a href="entretien.html#synthese" class="list-group-item">c. Synthèse des informations importantes de l’entretien</a>
        </div>
        <div class="list-group">
          <a href="stockage.html" class="list-group-item active">3. Stockage d’une information</a>
          <a href="stockage.html#modes" class="list-group-item">a. Modes de stockage actuel: CD, Clé USB, Disque Dur.   </a>
          <a href="stockage.html#int" class="list-group-item">b. L'intérêt de la molécule d'ADN</a>
        </div>
        <div class="list-group">
          <a href="math.html" class="list-group-item active">4. Les mathématiques au service de la biologie moléculaire</a>
          <a href="math.html#adn" class="list-group-item">a. L’ADN</a>
          <a href="math.html#bin" class="list-group-item">b. Le langage Binaire</a>
          <a href="math.html#lien" class="list-group-item">c. Lien entre les deux</a>
        </div>
        <div class="list-group">
          <a href="t2dna.html" class="list-group-item active">5. De l’information à l’ADN</a>
          <a href="t2dna.html#crc" class="list-group-item">a. De l’information en binaire avec l’ajout d’un code correcteur</a>
          <a href="t2dna.html#bin" class="list-group-item">b. Du binaire à l’ADN</a></div>
        <div class="list-group">
          <a href="dna2t.html" class="list-group-item active">6. De l’ADN à l’information</a>
          <a href="dna2t.html#dna" class="list-group-item">a. De l’ADN au binaire avec l’ajout du code correcteur</a>
          <a href="dna2t.html#bin" class="list-group-item">b. Du binaire à l’information</a></div>
        <div class="list-group">
          <a href="conclusion.html" class="list-group-item active">7. Conclusion</a>
        </div>
        <div class="list-group">
          <a href="bibliographie.html" class="list-group-item active">8. Bibliographie</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
